<!--<h1 class="display-1"> {{ viewTitle }}</h1>-->
<center>
<p >
	Sais-tu que faire un quiz par jour permet <br>
	de conserver ses capacités cérébrales? <br>

	alors choisi un bouton

</p>
</center>
<br>
<br>

<div>

<div class="d-flex justify-content-between" > <!-- cree un bouton avec id dans le html et
 l'appeler dans le script doc get el by id avc location.href= "adressesite.com"  -->
 
	<a href="quiz"><button type="button" class="btn btn-success btn-lg" id="accesquiz" >Clique ici <br>
	et rentres dans la légende </button></a>

	<a href="https://www.google.com"><button type="button" class="btn btn-secondary btn-lg" > Merci mais non merci <br> je continue de surfer</button></a>

</div>	
</div>

<!--bootstrap peut utiliser le component popovers four direction pour le choix de questions -->