<div id="app-container">
	<div id="lescore"> score=00 </div>
	<a href="https://www.nasa.gov/"><button type="button" class="btn btn-outline-secondary btn-outline-warning outtahere">Sortie </button></a>
	<h1 id="titreu"> Quizzz</h1>
	<a href="/joueurs/mongoDB"><button class="btn btn-danger adroite"> suite </button></a>
	<div id="questionstube">
		<div class="question-feedback"></div>

	</div>
	
</div>